<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PopupControl.Properties.Settings.E__FINANCE_DATABASE_OPTIONS_MDFConnectionString"
            connectionString="Data Source=PHOTOS3\SQL2012;Initial Catalog=E:\FINANCE\DATABASE\OPTIONS.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>